# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

*/node_modules
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
badge-app/convex.json
badge-app/package-lock.json
badge-app/convex/_generated/api.d.ts
badge-app/convex/_generated/api.js
badge-app/convex/_generated/dataModel.d.ts
badge-app/convex/_generated/server.d.ts
badge-app/convex/_generated/server.js
