.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  flex: 1;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

/* Hide Navbar when modal is open */
body.modal-open .navbar {
  display: none !important;
}